@import "../../../assets/variables/variables.scss";

.drop-down {
  position: relative;

  &__icon-button {
    color: $whiteColor;
    opacity: 0.6;

    svg {
      width: 20px;
      height: 20px;
      margin: 0;
      padding: 0;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &--active {
      opacity: 1;
    }
  }

  &__icon {
    height: 16px;
    width: 16px;
    margin: 0;
  }

  &__icon--left {
    margin-right: 4px;
  }

  &__icon--right {
    margin-left: 4px;
  }
}
