@import "../../../assets/variables/variables.scss";

.notification-wrapper {
  display: flex;
  flex-direction: column;
  padding: 8px;
  color: $whiteColor;
  margin-bottom: 8px;
  font-size: $fontMD;

  &:hover {
    cursor: pointer;
  }

  &--info {
    background-color: $grey1Color;
    border: 1px solid $grey2Color;

    &:hover {
      border-color: $whiteColor;
    }
  }

  // TODO add notification 
  &--warning {
    background-color: $orangeColor;
    border: 1px solid $orangeColor;

    &:hover {
      border-color: $orangeColor;
    }
  }

  &--success {
    background-color: $blueColor;
    border: 1px solid $blueLightColor;

    &:hover {
      border-color: $blueDarkColor;
    }
  }

  &--error {
    background-color: $redColor;
    border: 1px solid $redLightColor;

    &:hover {
      border-color: $redDarkColor;
    }
  }
}
