@import "../../../assets/variables/variables.scss";

.mailto {
  text-decoration: none;
  color: $blueColor;
  font-size: $fontMD;
  border-bottom: 1px dashed $blueColor;

  &:hover {
    border-bottom: 1px solid $blueColor;
  }
}
