@import "../../../../assets/variables/variables.scss";

.dropdown-item {
  height: 28px;
  display: flex;
  align-items: center;
  font-size: $fontMD;

  &__icon {
    margin: 0;
    padding: 0 4px 0 0;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  span {
    font-family: $font;
  }

  &--clickable {
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &--disabled {
    opacity: 0.4;
  }
}
