@import "../../../../../../assets/variables/variables.scss";

.pagination-item {
  margin: 0 4px;
  font-size: $fontLG;

  &:hover {
    font-weight: 700;
    cursor: pointer;
  }

  &--active {
    color: $blueColor;

    &:hover {
      font-weight: 700;
      cursor: default;
    }
  }
}
