@import "../../../../assets/variables/variables.scss";

.slider {
  width: 220px;
  font-size: 12px;

  &__limits {
    opacity: 0.6;
    margin-top: -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__from {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: -40px;
    margin-top: 20px;
    display: block;
  }

  &__to {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: -40px;
    margin-top: 20px;
    display: block;
    text-align: right;
    padding-right: 58px;
  }

  input {
    color: #f2f2f2;
    display: inline-block;
    width: 160px;
    font-size: 12px;
    font-family: $font;
    font-weight: 300;
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid #4e4e4e;
    padding: 6px;
    margin-right: 8px;
    -webkit-appearance: none;
    outline: 0;
  }

  input[type="range"] {
    -webkit-appearance: none;
    background: none;
    border-color: transparent !important;
    height: 0;
    margin: 0;
    padding: 0 8px 0 0;
    vertical-align: middle;
    width: calc("100% - 48px");

    &::-webkit-slider-runnable-track {
      height: 5px;
      background: #f2f2f2;
      border: none;
    }

    &::-ms-track {
      height: 5px;
      background: #f2f2f2;
      border: none;
    }

    &::-moz-range-track {
      height: 5px;
      background: #f2f2f2;
      border: none;
    }

    // thumb
    &::-webkit-slider-thumb {
      appearance: none;
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: #4e4e4e;
      margin-top: -5px;
      position: relative;

      &:hover {
        background: #0082f0;
      }
    }

    &::-ms-thumb {
      appearance: none;
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: #4e4e4e;
      margin-top: -5px;
      position: relative;

      &:hover {
        background: #0082f0;
      }
    }

    &::-moz-range-thumb {
      appearance: none;
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: #4e4e4e;
      margin-top: -5px;
      position: relative;

      &:hover {
        background: #0082f0;
      }
    }

    &:focus {
      outline: none;
      border-color: transparent;

      &::-webkit-slider-thumb {
        background: #0082f0;
      }
    }
  }
}
