@import "../../../../assets/variables/variables.scss";

.dropdown-wrapper {
  list-style: none;
  margin: 0;
  position: absolute;
  z-index: $dropdownWrapperZIndex;
  min-width: 64px;
  background-color: $grey1Color;
  border: 1px solid $greyColor;
  border-radius: 4px;
  padding: 8px;
  overflow: hidden;
  transition: height 500ms ease;
  display: flex;
  flex-direction: column;
  cursor: default;

  &--right {
    right: 0;
  }
  &--bottom {
    top: 100%;
  }

  &--left {
    left: 0;
  }
  &--top {
    bottom: 100%;
  }
}
