.table {
  width: 100%;
  border-left: none;
  border-right: none;
  border-collapse: collapse;

  // TODO change text-align in table configurations
  text-align: left;
  margin-bottom: 16px;
  position: relative;

  // TODO do change in configurations
  table-layout: fixed;

  // TODO change fount size
}
