@import "../../../../assets/variables/variables.scss";

.label {
  display: block;
  color: $textColor;
  font-size: 12px;
  font-family: $font;

  padding-top: 3px;
  padding-bottom: 3px;

  &:hover {
    cursor: pointer;
  }

  span {
    display: inline;
    margin-right: 4px;
  }
}
