@import "../../../../assets/variables/variables.scss";

.storage-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $whiteColor;

  .storage-item__icon {
    width: 64px;
    height: 64px;
    margin: 0;
    padding: 0;
  }

  .storage-item__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4px;

    .storage-item__title {
      font-size: $fontSM;
      opacity: 0.8;
    }

    span {
      font-size: $fontMD;
      color: $blueColor;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
