@import "../../../assets/variables/variables.scss";

.tile {
  padding: 16px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: $grey-1Color;
  color: $whiteColor;
  margin: 0 8px 8px 0;
  border-radius: 8px;

  .tile__header {
    flex: 0 0 auto;
    margin-top: 0;
    display: flex;
    padding-bottom: 16px;

    .tile__left {
      flex: 1;
      text-align: left;

      .tile__title {
        font-size: $fontLG;
        display: inline-block;
        margin-right: 8px;
      }

      .tile__subtitle {
        font-size: $fontMD;
        opacity: 0.6;
        display: inline-block;
      }
    }

    .tile__right {
      flex: 0 0 auto;
      font-size: 16px;
      text-align: right;
    }
  }

  .tile__top {
    display: flex;
    margin-bottom: 16px;
    flex: 0 0 auto;

    .tile__left {
      flex: 1;
      text-align: left;
    }
    .tile__right {
      flex: 1;
      text-align: right;
    }
  }

  .tile__content {
    flex: 1;
    background: #4e4e4e;
  }

  .tile__bottom {
    display: flex;
    margin-top: 16px;
    flex: 0 0 auto;

    .tile__left {
      flex: 1;
      text-align: left;
    }
    .tile__right {
      flex: 1;
      text-align: right;
    }
  }
}

.tile--sm-1 {
  width: calc(8.33333333% - 40px);
}
.tile--sm-2 {
  width: calc(16.66666667%- 40px);
}
.tile--sm-3 {
  width: calc(25% - 40px);
}
.tile--sm-4 {
  width: calc(33.33333333% - 40px);
}
.tile--sm-5 {
  width: calc(41.66666667% - 40px);
}
.tile--sm-6 {
  width: calc(50% - 40px);
}
.tile--sm-7 {
  width: calc(58.33333333% - 40px);
}
.tile--sm-8 {
  width: calc(66.66666667% - 40px);
}
.tile--sm-9 {
  width: calc(75% - 40px);
}
.tile--sm-10 {
  width: calc(83.33333333% - 40px);
}
.tile--sm-11 {
  width: calc(91.66666667% - 40px);
}
.tile--sm-12 {
  width: 100%;
}

@media only screen and (min-width: 30em) {
  .tile--md-1 {
    width: calc(8.33333333% - 40px);
  }
  .tile--md-2 {
    width: calc(16.66666667%- 40px);
  }
  .tile--md-3 {
    width: calc(25% - 40px);
  }
  .tile--md-4 {
    width: calc(33.33333333% - 40px);
  }
  .tile--md-5 {
    width: calc(41.66666667% - 40px);
  }
  .tile--md-6 {
    width: calc(50% - 40px);
  }
  .tile--md-7 {
    width: calc(58.33333333% - 40px);
  }
  .tile--md-8 {
    width: calc(66.66666667% - 40px);
  }
  .tile--md-9 {
    width: calc(75% - 40px);
  }
  .tile--md-10 {
    width: calc(83.33333333% - 40px);
  }
  .tile--md-11 {
    width: calc(91.66666667% - 40px);
  }
  .tile--md-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 48em) {
  .tile--lg-1 {
    width: calc(8.33333333% - 40px);
  }
  .tile--lg-2 {
    width: calc(16.66666667%- 40px);
  }
  .tile--lg-3 {
    width: calc(25% - 40px);
  }
  .tile--lg-4 {
    width: calc(33.33333333% - 40px);
  }
  .tile--lg-5 {
    width: calc(41.66666667% - 40px);
  }
  .tile--lg-6 {
    width: calc(50% - 40px);
  }
  .tile--lg-7 {
    width: calc(58.33333333% - 40px);
  }
  .tile--lg-8 {
    width: calc(66.66666667% - 40px);
  }
  .tile--lg-9 {
    width: calc(75% - 40px);
  }
  .tile--lg-10 {
    width: calc(83.33333333% - 40px);
  }
  .tile--lg-11 {
    width: calc(91.66666667% - 40px);
  }
  .tile--lg-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 75em) {
  .tile--xl-1 {
    width: calc(8.33333333% - 40px);
  }
  .tile--xl-2 {
    width: calc(16.66666667%- 40px);
  }
  .tile--xl-3 {
    width: calc(25% - 40px);
  }
  .tile--xl-4 {
    width: calc(33.33333333% - 40px);
  }
  .tile--xl-5 {
    width: calc(41.66666667% - 40px);
  }
  .tile--xl-6 {
    width: calc(50% - 40px);
  }
  .tile--xl-7 {
    width: calc(58.33333333% - 40px);
  }
  .tile--xl-8 {
    width: calc(66.66666667% - 40px);
  }
  .tile--xl-9 {
    width: calc(75% - 40px);
  }
  .tile--xl-10 {
    width: calc(83.33333333% - 40px);
  }
  .tile--xl-11 {
    width: calc(91.66666667% - 40px);
  }
  .tile--xl-12 {
    width: 100%;
  }
}
