.tooltip {
  position: relative;
  cursor: pointer;

  &--dotted {
    border-bottom: 1px dotted #f2f2f2;
  }

  &__message {
    position: absolute;

    background: #fafafa;
    color: #242424;
    font-size: 12px;
    padding: 8px;
    line-height: 16px;
    white-space: nowrap;
    z-index: 100;
    pointer-events: none;

    &--white {
      background-color: #eee;
      color: #242424;
    }

    &--blue {
      background-color: #0082f0;
      color: #fafafa;
    }

    &--black {
      background-color: #333;
      color: #f2f2f2;
    }

    &--top {
      bottom: 100%;
      left: 0;
      margin-bottom: 8px;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        margin-left: 14px;
        border: 5px solid transparent;
        border-top-color: #fafafa;
      }

      &-white::after {
        border-color: #eee transparent transparent;
      }
      &-blue::after {
        border-color: #0082f0 transparent transparent transparent;
      }
      &-black::after {
        border-color: #333 transparent transparent;
      }
    }

    &--top-end {
      bottom: 100%;
      right: -10px;
      margin-bottom: 8px;

      &::after {
        content: " ";
        position: absolute;
        top: 100%;
        right: 0;
        margin-right: 14px;
        border: 5px solid transparent;
        border-top-color: #fafafa;
      }

      &-white::after {
        border-color: #eee transparent transparent;
      }
      &-blue::after {
        border-color: #0082f0 transparent transparent transparent;
      }
      &-black::after {
        border-color: #333 transparent transparent;
      }
    }

    &--bottom {
      top: 100%;
      margin-top: 8px;
      left: 0;

      &::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 14px;
        margin-top: -10px;
        border: 5px solid transparent;
        border-bottom-color: #fafafa;
      }

      &-white::after {
        border-color: transparent transparent #eee;
      }
      &-blue::after {
        border-color: transparent transparent #0082f0 transparent;
      }
      &-black::after {
        border-color: transparent transparent #333;
      }
    }

    &--bottom-end {
      top: 100%;
      right: -10px;
      margin-top: 8px;

      &::after {
        content: " ";
        position: absolute;
        top: 0;
        right: 14px;
        margin-top: -10px;
        border: 5px solid transparent;
        border-bottom-color: #fafafa;
      }

      &-white::after {
        border-color: transparent transparent #eee;
      }
      &-blue::after {
        border-color: transparent transparent #0082f0 transparent;
      }
      &-black::after {
        border-color: transparent transparent #333;
      }
    }

    &--right {
      top: 0;
      left: 105%;
      margin-left: 8px;

      &::after {
        content: " ";
        position: absolute;
        top: 0;
        right: 100%;
        margin-top: 1em;
        border: 5px solid transparent;
        border-right-color: #fafafa;
      }

      &-white::after {
        border-color: transparent #eee transparent transparent;
      }
      &-blue::after {
        border-color: transparent #0082f0 transparent transparent;
      }
      &-black::after {
        border-color: transparent #333 transparent transparent;
      }
    }

    &--left {
      top: 0;
      right: 105%;
      margin-right: 8px;

      &::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 100%;
        margin-top: 1em;
        border: 5px solid transparent;
        border-left-color: #fafafa;
      }

      &-white::after {
        border-color: transparent transparent transparent #eee;
      }
      &-blue::after {
        border-color: transparent transparent transparent #0082f0;
      }
      &-black::after {
        border-color: transparent transparent transparent #333;
      }
    }
  }
}
