.tooltip {
  max-width: 100%;
  position: relative;
  display: inline-flex;
  // user-select: none;
  cursor: pointer;

  &--dotted {
    border-bottom: 1px dotted #f2f2f2;
  }

  &__message {
    // color: #ffffff;
    // position: absolute;
    // z-index: 10;
    // padding: 12px;
    // font-size: 12px;
    // cursor: default;
    // border-radius: 3px;
    // white-space: nowrap;
    // font-family: monospace;
    // background-color: #ffffff;
    // box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.16);
    // animation: fadeIn ease-in-out 0.65s;
    // top: 50%;
    // transform: translateY(-50%);
    // left: calc(100% + 18px);

    display: block;
    background: #fafafa;
    color: #242424;
    font-size: 12px;
    padding: 8px;
    line-height: 16px;
    white-space: nowrap;
    position: absolute;
    z-index: 100;
    pointer-events: none;

    &--top {
      bottom: 100%;
      left: 0;
      margin-bottom: 8px;

      &::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 0;
        margin-left: 14px;
        border: 5px solid transparent;
        border-top-color: #fafafa;
      }
    }

    &--top-end {
      bottom: 100%;
      right: -10px;
      margin-bottom: 8px;

      &::after {
        content: " ";
        position: absolute;
        top: 100%;
        right: 0;
        margin-right: 14px;
        border: 5px solid transparent;
        border-top-color: #fafafa;
      }
    }

    &--bottom {
      top: 100%;
      margin-top: 8px;
      left: 0;

      &::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 14px;
        margin-top: -10px;
        border: 5px solid transparent;
        border-bottom-color: #fafafa;
      }
    }

    &--bottom-end {
      top: 100%;
      right: -10px;
      margin-top: 8px;

      &::after {
        content: " ";
        position: absolute;
        top: 0;
        right: 14px;
        margin-top: -10px;
        border: 5px solid transparent;
        border-bottom-color: #fafafa;
      }
    }

    &--right {
      top: 0;
      left: 105%;
      margin-left: 8px;

      &::after {
        content: " ";
        position: absolute;
        top: 0;
        right: 100%;
        margin-top: 1em;
        border: 5px solid transparent;
        border-right-color: #fafafa;
      }
    }

    &--left {
      top: 0;
      right: 105%;
      margin-right: 8px;

      &::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 100%;
        margin-top: 1em;
        border: 5px solid transparent;
        border-left-color: #fafafa;
      }
    }
  }
}
