@import "../../../assets/variables/variables.scss";

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  width: 100%;
  flex: 1 1 auto;

  svg {
    fill: $blueColor;
  }
}
