@import "../../../../assets/variables/variables.scss";

.app-bar {
  width: 100%;
  line-height: 48px;
  height: 48px;
  background: $darkColor;
  color: $textColor;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    margin-left: 16px;
    display: flex;
  }

  &__center {
    margin-left: 16px;
    display: flex;
  }

  &__right {
    margin-right: 16px;
    display: flex;
  }
}
