@import "../../../assets/variables/variables.scss";

.notifications-wrapper {
  z-index: $notificationZIndex;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: hidden;
  top: 8px;
  right: 8px;
  max-height: calc(100vh - 16px);
  width: 600px;
}
