@import "../../../assets/variables/variables.scss";

.notifications-wrapper {
  z-index: $notificationZIndex;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: hidden;
  top: 8px;
  right: 8px;
  max-height: calc(100vh - 16px);
  width: calc(100% - 16px);
}

@media only screen and (min-width: 38em) {
  .notifications-wrapper {
    width: 600px;
  }
}
