@import "../../../../assets/variables/variables.scss";

.tile {
  padding: 16px;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #242424;

  &--row {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 4px;
    background-clip: padding-box;
  }

  &--full-screen {
    height: calc(100vh - 106px);
    max-width: 100% !important;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  &--hidden {
    display: none;
  }

  .tile__header {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 24px;

    .tile__left {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: left;

      .tile__title {
        font-size: $fontLG;
        display: inline-block;
        margin-right: 8px;
      }

      .tile__subtitle {
        font-size: $fontSM;
        opacity: 0.6;
        display: inline-block;
      }
    }

    .tile__right {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      font-size: 16px;
      text-align: right;
    }
  }

  &--sm-1 {
    max-width: 8.33333333%;
    border-right: 4px solid transparent;
  }
  &--sm-2 {
    max-width: 16.66666667%;
    border-right: 4px solid transparent;
  }
  &--sm-3 {
    max-width: 25%;
    border-right: 4px solid transparent;
  }
  &--sm-4 {
    max-width: 33.33333333%;
    border-right: 4px solid transparent;
  }
  &--sm-5 {
    max-width: 41.66666667%;
    border-right: 4px solid transparent;
  }
  &--sm-6 {
    max-width: 50%;
    border-right: 4px solid transparent;
  }
  &--sm-7 {
    max-width: 58.33333333%;
    border-right: 4px solid transparent;
  }
  &--sm-8 {
    max-width: 66.66666667%;
    border-right: 4px solid transparent;
  }
  &--sm-9 {
    max-width: 75%;
    border-right: 4px solid transparent;
  }
  &--sm-10 {
    max-width: 83.33333333%;
    border-right: 4px solid transparent;
  }
  &--sm-11 {
    max-width: 91.66666667%;
    border-right: 4px solid transparent;
  }
  &--sm-12 {
    max-width: 100%;
    border-right: 4px solid transparent;
  }

  @media only screen and (min-width: $MD-MIN-WIGHT) {
    &--md-1 {
      max-width: 8.33333333%;
      border-right: 4px solid transparent;
    }
    &--md-2 {
      max-width: 16.66666667%;
      border-right: 4px solid transparent;
    }
    &--md-3 {
      max-width: 25%;
      border-right: 4px solid transparent;
    }
    &--md-4 {
      max-width: 33.33333333%;
      border-right: 4px solid transparent;
    }
    &--md-5 {
      max-width: 41.66666667%;
      border-right: 4px solid transparent;
    }
    &--md-6 {
      max-width: 50%;
      border-right: 4px solid transparent;
    }
    &--md-7 {
      max-width: 58.33333333%;
      border-right: 4px solid transparent;
    }
    &--md-8 {
      max-width: 66.66666667%;
      border-right: 4px solid transparent;
    }
    &--md-9 {
      max-width: 75%;
      border-right: 4px solid transparent;
    }
    &--md-10 {
      max-width: 83.33333333%;
      border-right: 4px solid transparent;
    }
    &--md-11 {
      max-width: 91.66666667%;
      border-right: 4px solid transparent;
    }
    &--md-12 {
      max-width: 100%;
      border-right: 4px solid transparent;
    }
  }
  @media only screen and (min-width: $LG-MIN-WIGHT) {
    &--lg-1 {
      max-width: 8.33333333%;
      border-right: 4px solid transparent;
    }
    &--lg-2 {
      max-width: 16.66666667%;
      border-right: 4px solid transparent;
    }
    &--lg-3 {
      max-width: 25%;
      border-right: 4px solid transparent;
    }
    &--lg-4 {
      max-width: 33.33333333%;
      border-right: 4px solid transparent;
    }
    &--lg-5 {
      max-width: 41.66666667%;
      border-right: 4px solid transparent;
    }
    &--lg-6 {
      max-width: 50%;
      border-right: 4px solid transparent;
    }
    &--lg-7 {
      max-width: 58.33333333%;
      border-right: 4px solid transparent;
    }
    &--lg-8 {
      max-width: 66.66666667%;
      border-right: 4px solid transparent;
    }
    &--lg-9 {
      max-width: 75%;
      border-right: 4px solid transparent;
    }
    &--lg-10 {
      max-width: 83.33333333%;
      border-right: 4px solid transparent;
    }
    &--lg-11 {
      max-width: 91.66666667%;
      border-right: 4px solid transparent;
    }
    &--lg-12 {
      max-width: 100%;
      border-right: 4px solid transparent;
    }
  }

  @media only screen and (min-width: $XL-MIN-WIGHT) {
    &--xl-1 {
      max-width: 8.33333333%;
      border-right: 4px solid transparent;
    }
    &--xl-2 {
      max-width: 16.66666667%;
      border-right: 4px solid transparent;
    }
    &--xl-3 {
      max-width: 25%;
      border-right: 4px solid transparent;
    }
    &--xl-4 {
      max-width: 33.33333333%;
      border-right: 4px solid transparent;
    }
    &--xl-5 {
      max-width: 41.66666667%;
      border-right: 4px solid transparent;
    }
    &--xl-6 {
      max-width: 50%;
      border-right: 4px solid transparent;
    }
    &--xl-7 {
      max-width: 58.33333333%;
      border-right: 4px solid transparent;
    }
    &--xl-8 {
      max-width: 66.66666667%;
      border-right: 4px solid transparent;
    }
    &--xl-9 {
      max-width: 75%;
      border-right: 4px solid transparent;
    }
    &--xl-10 {
      max-width: 83.33333333%;
      border-right: 4px solid transparent;
    }
    &--xl-11 {
      max-width: 91.66666667%;
      border-right: 4px solid transparent;
    }
    &--xl-12 {
      max-width: 100%;
      border-right: 4px solid transparent;
    }
  }
}
