.notifications-wrapper {
  z-index: 200;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: hidden;
  top: 16px;
  right: 16px;
  max-height: calc(100vh - 32px);
}
