@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

$whiteColor: #f2f2f2;
$white1Color: #e0e0e0;
$whiteDarkColor: #b5b5b5;

$blueColor: #0082f0;
$blueLightColor: #3ea6ff;
$blueDarkColor: #0059a3;

$redColor: #dc2d37;
$redLightColor: #e76f75;
$redDarkColor: #a21b23;

$black: #0c0c0c;
$darkColor: #181818;
$grey-1Color: #242424;
$grey1Color: #333333;
$greyColor: #4e4e4e;
$grey2Color: #585858;
$greyLightColor: #767676;

$yellowColor: #f2c618;

$fontSM: 12px;
$fontMD: 14px;
$fontLG: 16px;
$fontXL: 20px;
$fontXXL: 32px;

$font: "Lato", sans-serif;
