@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

$textColor: #f2f2f2;
$blueLinkColor: #33a3ff;

// $whiteColor: #fafafa;

$white1Color: #e0e0e0;
$whiteDarkColor: #b5b5b5;

$blueColor: #0082f0;
$blueLightColor: #3ea6ff;
$blueDarkColor: #0059a3;

$redColor: #dc2d37;
$redLightColor: #e76f75;
$redDarkColor: #a21b23;

$greenColor: #288964;
$yellowColor: #dcaf00;
$orangeColor: #e66e19;
$purpleColor: #8e45b0;
$greyColor: #c8c8c8;

$black: #0c0c0c;
$darkColor: #181818;
$grey-1Color: #242424;
$grey1Color: #333333;
$greyColor01: #4e4e4e; // change in future
$grey2Color: #585858;
$greyLightColor: #767676;

$fontSM: 12px;
$fontMD: 14px;
$fontLG: 16px;
$fontXL: 20px;
$fontXXL: 32px;

$font: "Lato", sans-serif;

// Z-INDEXES
$notificationZIndex: 200;
$tooltipMessageZIndex: 100;
$backdropZIndex: 100;
$menuZIndex: 10;

// WIGHT
$MD-MIN-WIGHT: 30em;
$LG-MIN-WIGHT: 48em;
$XL-MIN-WIGHT: 75em;
