@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

$whiteColor: #f2f2f2;
$whiteDarkColor: #b5b5b5;

$blueColor: #0082f0;
$blueLightColor: #3ea6ff;
$blueDarkColor: #0059a3;

$redColor: #dc2d37;
$redLightColor: #e76f75;
$redDarkColor: #a21b23;

$darkColor: #181818;

$black: #0c0c0c;

$greyColor: #4e4e4e;
$greyLightColor: #767676;

$yellowColor: #f2c618;

$fontSizeSmall: 10px;
$fontSizeMedium: 12px;
$fontSizeBig: 16px;

$font: "Lato", sans-serif;
