@import "../../assets/variables/variables.scss";

.header {
  display: flex;
  background-color: $black;
  justify-content: space-between;
  color: $whiteColor;
  height: 48px;
  padding: 0 16px;

  &__left {
    align-self: center;
    display: flex;
    align-items: center;
  }

  &__line {
    height: 20px;
    border-right: 2px solid $whiteColor;
    border-radius: 1px;
    opacity: 0.5;
    margin: 0 8px;
  }

  &__right {
    align-self: center;
    display: flex;
    align-items: center;
  }

  &__username {
    display: flex;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
    font-size: $fontLG;

    svg {
      margin-right: 4px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  a {
    text-decoration: none;
  }
}
