@import "../../../../assets/variables/variables.scss";

.data-view {
  display: flex;
  flex-direction: column;

  .data-view__label {
    padding: 4px 0;
    font-size: $fontSM;
    opacity: 0.8;
  }

  .data-view__data {
    margin: 4px 0 8px 8px;
    color: $blueColor;
    font-size: $fontMD;
  }
}
