@import "../../assets/variables/variables.scss";

.auth {
  color: $textColor;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $black;
  justify-content: center;
  align-items: center;
}
