@import "../../../../assets/variables/variables.scss";

.table {
  color: $textColor;
  font-size: $fontMD;
  width: 100%;
  border-left: none;
  border-right: none;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 16px;
  position: relative;
}
