.store-action {
  display: flex;
  flex-direction: row;

  &__container {
    width: calc(50% - 4px);
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
      margin-left: 4px;
    }
  }
}
