@import "./assets/variables/variables";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: $textColor;
  font-family: $font;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #4e4e4e;
}

p {
  margin-top: 0;
  line-height: 1.5em;
  color: #f2f2f2;
}

ol,
ul {
  margin-top: 0;
  color: #f2f2f2;
}
ol li,
ul li {
  padding: 0 0 8px;
}
