.menu {
  position: absolute;
  display: none;
  z-index: 60;
  margin: 4px 0 0;
  padding: 4px 0;
  background: #1f1f1f;
  border: solid 1px #4e4e4e;
  text-align: left;
  width: 100%;

  hr {
    margin: 4px 0;
    border-style: none;
    border-top: 1px solid #353535;
    border-bottom: 0;
  }

  &--visible {
    display: block;
  }
}
.right {
  right: 0;
  margin-right: 0;
}
