@import "../../../../assets/variables/variables.scss";

.input {
  display: flex;

  input {
    color: $textColor;
    display: inline-block;
    width: 160px;
    font-size: 12px;
    font-family: $font;
    font-weight: 300;
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid #4e4e4e;
    padding: 6px;
    -webkit-appearance: none;
    outline: 0;

    &[type="number"] {
      width: 50px;
      -moz-appearance: textfield;
    }

    &::placeholder {
      color: rgba(242, 242, 242, 0.6);
    }

    &:hover:not([disabled]):not([readonly]) {
      border-color: $greyLightColor;
    }

    &:focus:not([disabled]):not([readonly]) {
      outline: 0;
      border-color: $blueColor;
    }

    &:active {
      outline: 0;
      border-color: $blueColor;
    }

    &:invalid {
      border: 1px solid $redColor;
    }

    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }

  &--invalid {
    input {
      border: 1px solid $redColor;
    }
  }

  &--full-width {
    width: 100%;

    input {
      width: 100% !important ;
    }
  }

  &__prefix {
    color: $textColor;
    display: inline-block;
    border: solid 1px #4e4e4e;
    border-right: none;
    padding: 6px;
    margin-right: 0;
    font-size: 12px;
  }

  &__suffix {
    color: $textColor;
    display: inline;
    border: solid 1px #4e4e4e;
    border-left: none;
    padding: 6px;
    margin-left: 0px;
    font-size: 12px;
  }

  &__icon-inside {
    margin-left: -30px;
    border: none;
    padding: 6px;
    color: rgba(242, 242, 242, 0.6);
    display: flex;

    svg {
      margin: 0;
      padding: 0;
      font-size: 16px;
    }
  }
}
