@import "../../../../../../assets/variables/variables.scss";

.table-select-heading {
  border-bottom: 1px solid #4e4e4e;
  padding: 8px;
  font-weight: 400;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #242424;
  user-select: none;

  &__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

    input {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
